# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore components: https://github.com/github/gitignore
.idea/
*.DS_Store
img/competenties/raw
resources/
node_modules/
dist/
