$grid: (
    columns: 12,
    breakpoints: $grid-breakpoints,
    gutter: 5rem
);

@mixin container {
    @include clearfix;
    margin-left: map-get($grid, gutter);
}

@mixin rows($rows, $type: fluid) {
    &:nth-child(#{$rows}n+1) {
        clear: left;
    }
}

@mixin col($columns: 12) {
    width: calc(#{percentage($columns/map-get($grid, columns))} - #{map-get($grid, gutter)});
    float: left;
    margin-right: #{map-get($grid, gutter)};
}

@mixin media($breakpoint, $grid: $grid) {
    @media all and (max-width: map-get(map-get($grid, breakpoints), $breakpoint)){
        @content
    }
}

