nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include clearfix;

  a, a:link, a:active {
    color: $white;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: darken($white, 20%);
  }


  li {
    display: inline-block;
    padding: 2rem;
  }

  .nav-left {
    float: left;
  }

  .nav-right {
    float: right;
    text-transform: uppercase;
  }
}