@import "../vendor/neat/neat";

.competences {

  .competence {
    margin-top: 5rem;
    margin-bottom: 5rem;

    @include grid-column(12, $default-grid);
    @include grid-media($computer-grid) {
      @include grid-column(6, $computer-grid);
    }

    &:nth-child(odd) {
      clear: left;
    }

    @include element('image') {
      width: 25%;
      display: inline-block;
      float: left;
    }

    @include element('description') {
      width: 75%;
      display: inline-block;
      padding: 0 3rem;

      h3 {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        letter-spacing: 2px;
        transition: all .2s;
        width: 100%;
      }

    }

  }
}