@import "../vendor/neat/neat";

.competences {
    @include container;

  .competence {
    margin-top: 5rem;
    margin-bottom: 5rem;

      @include col(4);
      @include rows(3);
      @include media(tablet) {
          @include rows(2);
          @include col(6);
      }
      @include media(mobile) {
          @include rows(1);
          @include col(12);
      }

    @include element('image') {
      width: 25%;
      display: inline-block;
      float: left;
    }

    @include element('description') {
      width: 75%;
      display: inline-block;
      padding: 0 3rem;

      h3 {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        letter-spacing: 2px;
        transition: all .2s;
        width: 100%;
      }

    }

  }
}
