.name {
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}

.header-primary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: $primary-gradient;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  width: 100%;
}

.sub-header-primary {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $primary-gray-dark;
}

.header-secondiary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  transition: all .2s;
  width: 100%;
}